# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/
client/node_modules/

# Build output
dist/
client/dist/
dist-ssr/

# Local env (VERY IMPORTANT 🔐)
.env
.env.*
*.env

# Backend specific env
Cbit-bus-Backend/backend/.env
*/.env

# Local configs
*.local

# Editors
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
